In [1]:
Personal_Bio = {"first name": "Anas",
            "last name": "Muhammad",
            "address": "Karachi"}

In [2]:
customers = [
    {'first name': 'John', 'last name': 'Doe', 'address': '123 Maple Street'},
    {'first name': 'Jane', 'last name': 'Smith', 'address': '456 Oak Avenue'},
    {'first name': 'Emily', 'last name': 'Johnson', 'address': '789 Pine Road'}
]

In [3]:
for i in customers:
    print(i['address'])

123 Maple Street
456 Oak Avenue
789 Pine Road

In [5]:
customers.append(Personal_Bio)

# Print the updated list of dictionaries
for customer in customers:
    print(customer)

{'first name': 'John', 'last name': 'Doe', 'address': '123 Maple Street'}
{'first name': 'Jane', 'last name': 'Smith', 'address': '456 Oak Avenue'}
{'first name': 'Emily', 'last name': 'Johnson', 'address': '789 Pine Road'}
{'first name': 'Anas', 'last name': 'Muhammad', 'address': 'Karachi'}

In [6]:
len(customers)

4

### Dictionary of Dictionary

In [7]:
customers_Dict = {1: {'first name': 'John', 'last name': 'Doe', 'address': '123 Maple Street'},
2 : {'first name': 'Jane', 'last name': 'Smith', 'address': '456 Oak Avenue'},
3 : {'first name': 'Emily', 'last name': 'Johnson', 'address': '789 Pine Road'},
4: {'first name': 'Anas', 'last name': 'Muhammad', 'address': 'Karachi'}
}

In [8]:
customers_Dict

{1: {'first name': 'John', 'last name': 'Doe', 'address': '123 Maple Street'},
 2: {'first name': 'Jane', 'last name': 'Smith', 'address': '456 Oak Avenue'},
 3: {'first name': 'Emily',
  'last name': 'Johnson',
  'address': '789 Pine Road'},
 4: {'first name': 'Anas', 'last name': 'Muhammad', 'address': 'Karachi'}}

# Extract and print the addresses

In [9]:
for key, value in customers_Dict.items():
    print(value['address'])

123 Maple Street
456 Oak Avenue
789 Pine Road
Karachi

In [14]:
# for i in range(len(customers_Dict)):
#     print(customers_Dict[i]["address"])

In [35]:
for key, value in customers_Dict.items():
    print(f"Key is: {key}")
    print(f"value is: {value}")

    # Extracting address using KEY

    print(f"ADDRESS of {key} is {customers_Dict[key]['address']}")
    print("-----------")


# Exacting address using values

Key is: 1
value is: {'first name': 'John', 'last name': 'Doe', 'address': '123 Maple Street'}
ADDRESS of 1 is 123 Maple Street
-----------
Key is: 2
value is: {'first name': 'Jane', 'last name': 'Smith', 'address': '456 Oak Avenue'}
ADDRESS of 2 is 456 Oak Avenue
-----------
Key is: 3
value is: {'first name': 'Emily', 'last name': 'Johnson', 'address': '789 Pine Road'}
ADDRESS of 3 is 789 Pine Road
-----------
Key is: 4
value is: {'first name': 'Anas', 'last name': 'Muhammad', 'address': 'Karachi'}
ADDRESS of 4 is Karachi
-----------

In [22]:
SMIT = {
    'courses': {
        'course1': {
            'name': 'Data Science',
            'duration': '1 months',
            'fee': '3000 PKR'
        },
        'course2': {
            'name': 'Python',
            'duration': '3 months',
            'fee': '2000 PKR'
        },
        'course3': {
            'name': 'Machine Learning',
            'duration': '2 months',
            'fee': '2500 PKR'
        }
    }
}



print(SMIT)

{'courses': {'course1': {'name': 'Data Science', 'duration': '1 months', 'fee': '3000 PKR'}, 'course2': {'name': 'Python', 'duration': '3 months', 'fee': '2000 PKR'}, 'course3': {'name': 'Machine Learning', 'duration': '2 months', 'fee': '2500 PKR'}}}

In [26]:
# Using .keys() to get course names
for course_key in SMIT['courses'].keys():
    print(SMIT['courses'][course_key]['name'])

# Using .values() to get course names
print("\n------")
for course_value in SMIT['courses'].values():
    print(course_value['name'])

# Using .items() to get course names
print("\n---------")
for course_key, course_value in SMIT['courses'].items():
    print(course_value['name'])

Data Science
Python
Machine Learning

------
Data Science
Python
Machine Learning

---------
Data Science
Python
Machine Learning

In [37]:
Saylani = {
    "python" : {
        "timing" : "MWF",
        "instructor" : "Ayan",
     "Data Science": {
         "timing" : "IT",
        "instructor" : "Dawood"
     }   
    }

}

print(Saylani)

{'python': {'timing': 'MWF', 'instructor': 'Ayan', 'Data Science': {'timing': 'IT', 'instructor': 'Dawood'}}}

In [28]:
for course, details in Saylani.items():
    # Print the course name and instructor
    print(f"Course: {course}")
    print(f"Instructor: {details['instructor']}")

Course: python
Instructor: Ayan

In [38]:
for key, value in Saylani.items():
    print(f"Key is: {key}")
    print(f"Value is: {value}")
    print(f"through key: {Saylani[key]['instructor']}")
    print(f"through key: {value['instructor']}")

Key is: python
Value is: {'timing': 'MWF', 'instructor': 'Ayan', 'Data Science': {'timing': 'IT', 'instructor': 'Dawood'}}
through key: Ayan
through key: Ayan

# Functions

### FUNCTIONS
- print()   
- type() return TYPE of variable
- id()   return ADDRESS of variable


#### Functions are like blackbox that perform certain operations

input --> function(operation) --> desired result (based on operation)

#### Syntax;

def <func_name>():
    <func_body>

In [39]:
def print_func():
    print("SMIT")

In [40]:
print_func()

SMIT

In [41]:
# Hardcoded values

def Add_func():
    n1 = 4
    n2 = 6
    Tot = n1 + n2
    print("The sum of two numbers is", Tot)

In [43]:
Add_func()

The sum of two numbers is 10

Parameterized Functions for dynamic values

In [46]:
def Add_func(n1,n2):
    print("The sum of two numbers is", n1+n2)

In [47]:
Add_func(1,2)

The sum of two numbers is 3

Kelvin to Celsius

In [48]:
def temp_kelvin(Cesius, Default_kelvin_value):
    print(Cesius + Default_kelvin_value)

In [49]:
temp_kelvin(35,273.15)

308.15

#### ALways non default value msut be come first in parameter of functions

In [50]:
def temp_kelvin(Cesius, Default_kelvin_value = 273.15):
    print(Cesius + Default_kelvin_value)

In [53]:
temp_kelvin(45)

318.15

In [55]:
# Overwrite value
temp_kelvin(35,245)

280

In [1]:
def Greetings(F_name, L_name, Greetings="Welcome"):
    print(f"Hey, {F_name} {L_name} {Greetings}")

In [4]:
Greetings("Muhammad", "Anas")

Hey, Muhammad Anas Welcome

Keyword Arguments

In [3]:
Greetings("Anas", "Muhammad")

Hey, Anas Muhammad Welcome

In [5]:
# Positional arguments
Greetings(L_name="Anas", F_name="Muhammad")

Hey, Muhammad Anas Welcome