# Looping Structures

### 1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print numbers from 20 to 1 using a while loop.

In [18]:
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### 3. Print even numbers from 1 to 10.

In [19]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

### 4. Print all numbers from 1 to n.

In [22]:
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

1
2
3
4
5
6
7
8

### 5. Print all odd numbers between 1 and n.

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, n + 1, 2):
    print(i)

1
3
5
7
9
11

### 6. Print 'Happy Birthday!' five times.

In [ ]:
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

### 7. Generate the first n terms of the series formed by squaring natural numbers.

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i * i)

1
4
9
16
25
36
49

### 8. Print the multiplication table of a number.

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

### 9. Print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4.

In [23]:
n = 3
for i in range(8):
    print(n)
    n += 4

3
7
11
15
19
23
27
31

### 10. Print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.

In [ ]:
term = 2
for i in range(6):
    print(term)
    term *= 3

2
6
18
54
162
486

### 11. Calculate the sum of all integers from 1 up to the entered number.

In [ ]:
n = int(input("Enter a positive integer: "))
tot = 0
for i in range(1, n + 1):
    tot += i
print("The sum of numbers from 1 to", n, "is:", tot)

The sum of numbers from 1 to 55 is: 1540

### 12. Calculate the sum of the reciprocals of all numbers from 1 up to n.

In [ ]:
n = int(input("Enter a positive integer: "))
tot = 0.0
for i in range(1, n + 1):
    tot += 1 / i
print("The sum of reciprocals from 1 to", n, "is:", round(tot, 2))

The sum of reciprocals from 1 to 67 is: 4.79

### 13. Accumulate numbers entered by the user and display the final total.

In [24]:
tot = 0
for i in range(5):
    n = int(input("Enter 5 number: "))
    tot += n
print("Running total is:", tot)

Running total is: 165

### 14. Calculate the factorial of a positive integer.

In [ ]:
n = int(input("Enter a positive number: "))
if n < 0:
    print("You entered negative numbers.")
elif n == 0:
    print("Factorial of 0 is 1.")
else:
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    print("Factorial of", n, "is:", fact)

The factorial of 6 is: 720

### 15. Calculate the power of a base number to an exponent without using ** or math.pow().

In [ ]:
base = int(input("Base number: "))
exp = int(input("Exponent: "))
n = 1

if exp >= 0:
    for i in range(exp):
        n *= base
else:
    for i in range(-exp):
        n /= base

print(base, "raised to the power of", exp, "is:", n)

4 raised to the power of 2 is: 16